@charset "utf-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

.body {
  font-family: "Lato";
  color: #333;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.Raleway {
  font-family: "Raleway";
  font-size: 24px;
}

.icon-size {
  font-size: 2em;
}

a {
  display: inline-block;
  transition-duration: 0.3s;
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/* ヘッダー */
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.Bolt {
  color: #4e4e4e;
}

.contact-icon {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
}

.contact-icon:hover {
  color: #333;
}


/* メイン */
.main {
  padding-top: 70px;
  background-color: #f2f2f2;
}

/* メインタイトル */
.maintitle-inner {
  padding: 250px 0;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.maintitle-inner p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* ページの説明 */
.Description {
  background-color: #74cfae;
}

.Description-inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.Description-textbox {
  width: 60%;
}

.description-text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
  word-break: keep-all;
}

/* 画像エリア */
.picture-inner {
  padding: 60px 0 70px 0;
}

.picture-area {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.picture-area li {
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: 0.3s;
}

.picture-area li:hover {
  opacity: 1;
}

.picture-area li:nth-child(n+4) {
  margin-top: 80px;
}

.picture-area li:nth-child(3n+1) {
  margin-left: 0;
}

.picture-text-area {
  margin-top: 90px;
}

.picture-text {
  display: inline-block;
  width: 60%;
  line-height: 25px;
  color: #333;
  font-family: "Ralaway";
}

.mail-icon {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.mail-icon:hover {
  color: #333;
}

/* スキルゲージ */
.our-skill {
  background-color: #4e4e4e;
}

.OurSkill-inner {
  padding: 70px 0 100px 0;
  color: #fff;
}

.skill-box {
  margin-top: 50px;
  font-size: 16px;
  line-height: 30px;
}

.skill-gauge {
  display: flex;
  justify-content: space-between;
}

.skill-gauge li{
  margin-left: 180px;
}

.skill-gauge li:first-of-type{
  margin-left: 0;
}

/* SNS */
.SNS-inner {
  padding: 200px 0;
}

.SNS-icon-area {
  display: flex;
  justify-content: center;
}

.SNS-icon-area li {
  transition-duration: 0.3s;
}

.SNS-icon-area li:hover {
  background-color: #fff;
}

.SNS-icon {
  color: #74cfae;
  width: 185px;
  line-height: 100px;
}


/* フッター */
.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
}

.heart {
  font-size: 1em;
}

/* TABデザイン */
@media screen and (max-width:1199px){
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .Description-inner {
    padding: 50px 0 25px 0;
    display: block;
  }

  .Description-textbox {
    margin: 20px auto 0 auto;
    width: 85%;
  }

  .picture-inner {
    padding: 60px 0 70px 0;
  }

  .picture-area {
    flex-direction: column;
    margin-top: 40px;
  } 

  .picture-area li {
    margin-left: 0;
  }

  .picture-area li:not(:nth-child(4)){
    margin-top: 0;
  }

  .picture-text-area {
    margin-top: 80px;
    flex-direction: column;
  }

  .picture-text {
    width: auto;
  }

  .mail-icon {
    margin: 40px auto 0 auto;
  }

  .skill-gauge {
    display: block;
  }

  .skill-gauge li {
    margin: 88px 0 0 0;
  }

  .skill-gauge li:first-child {
    margin-top: 0;
  }
}

/* SPデザイン */
@media screen and (max-width:767px){
  .inner {
    width: 97%;
    margin: 0 auto;
  }
  
  .pc {
    display: none;
  }
  
  .sp {
    display: block;
  }

  .menu-ber {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .menu-ber li {
    border: 1px solid #ddd;
    width: 20px;
    margin-top: 5px;
  }

  .menu-ber li:first-child {
    margin-top: 0;
  }
  
  .maintitle-inner {
    padding: 160px 0 130px 0;
  }

  .main-title {
    font-size: 80px;
  }

  .maintitle-inner p {
    margin-top: 20px;
    font-size: 30px;
  }

  .SNS-inner {
    padding-top: 50px;
  }

  .SNS-icon-area li {
    margin: 0 15px;
  }

  .SNS-icon-area li i {
    font-size: 3em;
    line-height: 150px;
  }
}
