@charset "utf-8";

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Raleway";
}

p , div{
  font-family: "Lato";
}
/* ヘッダー */
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-around;
}

.contact-icon {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
}
/* メイン */
/* メインタイトル */
.Page-title {
  background-color: #f2f2f2;
  margin-top: 70px;
}

.maintitle-inner {
  padding: 250px 0;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.maintitle-inner p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}
/* ページの説明 */
.Description {
  background-color: #74cfae;
  color: #fff;
}

.Description-inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 0;
}

.Description-textbox {
  width: 60%;
}

.description-title {
  font-size: 24px;
}

.description-text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
  word-break: keep-all;
}

/* 画像エリア */
.art-picture {
  background-color: #f2f2f2;
}

.picture-inner {
  padding: 60px 0 70px 0;
}
.picture-title {
  font-size: 24px;
  color: #333;
}

.picture-area {
  padding: 40px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
}
.picture {
  margin-left: 100px;
}

.picture:nth-child(n+4) {
  margin-top: 80px;
}
.picture:first-child,
.picture:nth-child(4) {
  margin-left: 0;
}
.picture-text {
  display: inline-block;
  width: 42%;
  line-height: 25px;
  color: #333;
}

.mail-icon {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}
/* フッター */