@charset "utf-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

.body {
  font-family: "Lato";
  color: #333;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.Raleway {
  font-family: "Raleway";
  font-size: 24px;
}

i {
  font-size: 2em;
}

a, li{
  display: inline-block;
  transition-duration: 0.3s;
  text-decoration: none;
}


/* ヘッダー */
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.Bolt {
  color: #4e4e4e;
}

.contact-icon {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
}

.contact-icon:hover {
  color: #333;
}

/* メイン */
.main {
  padding-top: 70px;
}

/* メインタイトル */
.Page-title {
  background-color: #f2f2f2;
}

.maintitle-inner {
  padding: 250px 0;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.maintitle-inner p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* ページの説明 */
.Description {
  background-color: #74cfae;
}

.Description-inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 0;
}

.Description-textbox {
  width: 60%;
}

.description-text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
  word-break: keep-all;
}

/* 画像エリア */
.art-picture {
  background-color: #f2f2f2;
}

.picture-inner {
  padding: 60px 0 70px 0;
}

.picture-area {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.picture-area li {
  margin-left: 100px;
  opacity: 0.7;
}

.picture-area li:hover {
  opacity: 1;
}

.picture-area li:nth-child(n+4) {
  margin-top: 80px;
}

.picture-area li:nth-child(3n+1) {
  margin-left: 0;
}

.picture-text-area {
  margin-top: 90px;
}

.picture-text {
  display: inline-block;
  width: 42%;
  line-height: 25px;
  color: #333;
}

.mail-icon {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.mail-icon:hover {
  color: #333;
}

/* スキルゲージ */
.our-skill {
  background-color: #4e4e4e;
}

.OurSkill-inner {
  padding: 70px 0 100px 0;
  color: #fff;
}

.skill-box {
  margin-top: 50px;
  font-size: 16px;
  line-height: 30px;
}

.skill-gauge {
  display: flex;
  justify-content: space-between;
}

.skill-gauge li{
  margin-left: 180px;
}

.skill-gauge li:first-of-type{
  margin-left: 0;
}

/* SNS */
.SNS-nav {
  background-color: #f2f2f2;
}

.SNS-inner {
  padding: 200px 0;
}

.SNS-icon-area {
  display: flex;
  justify-content: center;
}

.SNS-icon-area li:hover {
  background-color: #fff;
}

.SNS-icon {
  color: #74cfae;
  width: 185px;
  line-height: 100px;
}


/* フッター */
.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
text-align: right;
}

.heart {
  font-size: 1em;
}